---
---

<a
  href="#main-content"
  data-i18n="skipLink.text"
  class="sr-only focus:not-sr-only focus:fixed focus:top-4 focus:left-4 focus:z-[100] focus:rounded-sm focus:bg-pink focus:px-4 focus:py-2 focus:text-sm focus:text-black focus:outline-none"
>
  Saltar al contenido principal
</a>
